@{
}

<form>
	<div>
		<button class="btn btn-info" name="button" asp-controller="Adviser" asp-action="check" value="Труба">Труба</button>
		<button class="btn btn-info" name="button" asp-controller="Adviser" asp-action="check" value="Форсунка">Форсунка</button>
	</div>
</form>
