@{
    ViewData["Title"] = "Советник...";
}
<h2>Советник, который пришёл за твоей жопой...</h2>

<p>Никак иначе, Влад.</p>
@ViewData["1"]
<style>
    fieldset{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    div{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        column-gap: 1rem;
    }

    input{
        width: 20vw;
        height: 3vh;
        padding: 1rem;
    }

    form div{
        padding: 2rem;
        border: 2px solid aquamarine;
    }

    button{
        padding: 1rem;
    }
    #submit{
        margin-top: 2rem;
    }
</style>

<form style="display:flex; justify-content:center; flex-direction:column; align-items:center;" method="post" action="Adviser/GetData">
    <fieldset>
        <h2>Инженерная сантехника</h2>
        <div>
            <button id="a1" name="truba" value="Труба" class="btn btn-info">Трубопроводы</button>
            <button id="b1" name="fason" value="ФЧ" class="btn btn-info">Фасонные части</button>
        </div>
    </fieldset>

    <fieldset id="truba">
        <h2>Трубопроводы</h2>
        <div>
            <button id="a2" name="otop" value="Тип трубопровода:Для отопления" class="btn btn-info">Для отопления</button>
            <button id="a2" name="vodosnob" value="Тип трубопровода:Для водоснобжения" class="btn btn-info">Для водоснобжения</button>
            <button id="a2" name="kanal" value="Тип трубопровода:Для канализации" class="btn btn-info">Для канализации</button>
            <button id="a2" name="vodostok" value="Тип трубопровода:Для водостока" class="btn btn-info">Для водостока</button>
        </div>
    </fieldset>

    <fieldset id="fason">
        <h2>Фасонные части</h2>
        <div>
            <button id="b2" name="mufta" value="Муфта" class="btn btn-info">Муфты</button>
            <button id="b2" name="troinik" value="Тройник" class="btn btn-info">Тройники</button>
            <button id="b2" name="perehodnik" value="Переходник" class="btn btn-info">Переходники</button>
            <button id="b2" name="otvod" value="Отвод" class="btn btn-info">Отводы</button>
        </div>
    </fieldset>

    <fieldset id="temperature">
        <h2>По температурному режиму</h2>
        <div>
            <button id="a3" name="temp1" value="Температурный режим:От 5 до 30 градусов" class="btn btn-info">От 5 до 30 градусов</button>
            <button id="a3" name="temp2" value="Температурный режим:От 30 до 65 градусов" class="btn btn-info">От 30 до 65 градусов</button>
            <button id="a3" name="temp3" value="Температурный режим:От 65 до 80 градусов" class="btn btn-info">От 65 до 80 градусов</button>
            <button id="a3" name="temp4" value="Температурный режим:От 80 до 120 градусов" class="btn btn-info">От 80 до 120 градусов</button>
        </div>
    </fieldset>

    <fieldset id="material_fason">
        <h2>По материалу</h2>
        <div>
            <button id="b3" name="plastik" value="Материал:Пластик" class="btn btn-info">Пластик</button>
            <button id="b3" name="med" value="Материал:Медь" class="btn btn-info">Медь</button>
            <button id="b3" name="stal" value="Материал:Сталь" class="btn btn-info">Сталь</button>
            <button id="b3" name="chugun" value="Материал:Чугун" class="btn btn-info">Чугун</button>
            <button id="b3" name="pvh" value="Материал:ПВХ" class="btn btn-info">ПВХ</button>
            <button id="b3" name="polietilen" value="Материал:Полиэтилен" class="btn btn-info">Полиэтилен</button>
        </div>
    </fieldset>

    <fieldset id="material_truba">
        <h2>По материалу</h2>
        <div>
            <button id="a4" name="beton" value="Материал:Бетон" class="btn btn-info">Бетон</button>
            <button id="a4" name="med" value="Материал:Медь" class="btn btn-info">Медь</button>
            <button id="a4" name="stal" value="Материал:Сталь" class="btn btn-info">Сталь</button>
            <button id="a4" name="chugun" value="Материал:Чугун" class="btn btn-info">Чугун</button>
            <button id="a4" name="pvh" value="Материал:ПВХ" class="btn btn-info">ПВХ</button>
            <button id="a4" name="polietilen" value="Материал:Полиэтилен" class="btn btn-info">Полиэтилен</button>
        </div>
    </fieldset>

    <fieldset id="soed">
        <h2>По способу соединения</h2>
        <div>
            <button id="b4" name="razem" value="Тип соединения:Разъёмный" class="btn btn-info">Разъёмный</button>
            <button id="b4" name="nerazem" value="Тип соединения:Неразъёмный" class="btn btn-info">Неразъёмный</button>
        </div>
    </fieldset>

    <fieldset id="soed">
        <h2>По способу соединения</h2>
        <div>
            <button id="a5" name="razem" value="Тип соединения:Разъёмный" class="btn btn-info">Разъёмный</button>
            <button id="a5" name="nerazem" value="Тип соединения:Неразъёмный" class="btn btn-info">Неразъёмный</button>
        </div>
    </fieldset>

    <fieldset id="diametr">
        <h2>По диаметру</h2>
        <div>
            <button id="b5" name="mm15" value="Диаметр:15мм" class="btn btn-info">15мм</button>
            <button id="b5" name="mm20" value="Диаметр:20мм" class="btn btn-info">20мм</button>
            <button id="b5" name="mm50" value="Диаметр:50мм" class="btn btn-info">50мм</button>
            <button id="b5" name="mm80" value="Диаметр:80мм" class="btn btn-info">80мм</button>
        </div>
    </fieldset>

    <fieldset id="diametr">
        <h2>По диаметру</h2>
        <div>
            <button id="a6" name="mm15" value="Диаметр:15мм" class="btn btn-info">15мм</button>
            <button id="a6" name="mm20" value="Диаметр:20мм" class="btn btn-info">20мм</button>
            <button id="a6" name="mm50" value="Диаметр:50мм" class="btn btn-info">50мм</button>
            <button id="a6" name="mm80" value="Диаметр:80мм" class="btn btn-info">80мм</button>
        </div>
    </fieldset>

    <fieldset id="proizvod">
        <h2>По производителю</h2>
        <div>
            <button id="b6" name="mittrubzavod" value="Производитель:Мытищинский трубный завод" class="btn btn-info">Мытищинский трубный завод</button>
            <button id="b6" name="rossevzapad" value="Производитель:Ростерм Северо-Запад" class="btn btn-info">Ростерм Северо-Запад</button>
            <button id="b6" name="cheboktrubzavod" value="Производитель:Чебоксарский трубный завод" class="btn btn-info">Чебоксарский трубный завод</button>
        </div>
    </fieldset>

    <fieldset id="dlina">
        <h2>По длине</h2>
        <div>
            <button id="a7" name="m5" value="Длина:5м" class="btn btn-info">5м</button>
            <button id="a7" name="m6" value="Длина:6м" class="btn btn-info">6м</button>
            <button id="a7" name="m7" value="Длина:7м" class="btn btn-info">7м</button>
            <button id="a7" name="m9" value="Длина:9м" class="btn btn-info">9м</button>
        </div>
    </fieldset>

    <fieldset id="price">
        <h2>По цене</h2>
        <div>
            <input id="b7" name="price" placeholder="Цена">
        </div>
    </fieldset>

    <fieldset id="proizvod">
        <h2>По производителю</h2>
        <div>
            <button id="a8" name="voltrubzavod" value="Производитель:Волжский трубный завод" class="btn btn-info">Волжский трубный завод</button>
            <button id="a8" name="zagortrubzavod" value="Производитель:Загорский трубный завод" class="btn btn-info">Загорский трубный завод</button>
            <button id="a8" name="sevtrubzavod" value="Производитель:Северский трубный завод" class="btn btn-info">Северский трубный завод</button>
        </div>
    </fieldset>

    <fieldset id="price">
        <h2>По цене</h2>
        <div>
            <input id="a9" name="price" placeholder="Цена">
        </div>
    </fieldset>
    <button id="submit" name="submit" class="btn btn-outline-info">Найти</button>

    <script>
        const countFieldset = 10;

        let fieldsets = document.getElementsByTagName("fieldset");
        for(let i = 1; i < fieldsets.length; i++)
            fieldsets[i].style.display = "none";

        function showAndHide(Item) {
            let display = Item.style.display
            display === "" ? Item.style.display = "none" : Item.style.display = "";
        }

        function enableAndDisable(Item) {
            let disabled = Item.disabled;
            disabled === true ? Item.disabled = false : Item.disabled = true;
        }

        let buttons = document.getElementsByTagName("button");
        let truba = buttons.item(1);
        let fason = buttons.item(2);
        truba.type = "button";
        fason.type = "button";

        const makeUniq = (arr) => [...new Set(arr)];


        function getOnlyWay(way){
            let fieldsetsWay = new Array();
            for (let i = 1; i < buttons.length; i++) {
                let btn = buttons.item(i);
                if(btn.name !== "submit")
                    btn.type = "button";
                let id = btn.id
                if (id === "" || id[0] !== way) continue

                let nextNumId = Number(id[1]) + 1;
                let nextId = id[0] + String(nextNumId);

                
                if (nextNumId < countFieldset) {
                    let nextFieldset = document.getElementById(nextId).parentElement.parentElement;
                    fieldsetsWay.push(nextFieldset);
                }
            }

            return makeUniq(fieldsetsWay);
        }

        function enabledAllButtons(){
            for (let i = 3; i < buttons.length; i++) {
                let btn = buttons.item(i);
                btn.disabled = false;
            }
        }

        function showAFieldsets(Fieldsets) {
            for (let i = 0; i < Fieldsets.length; i++)
                showAndHide(Fieldsets[i]);
        }

        function submitValueClear(){
            document.getElementById("submit").value = "";
        }

        fieldsetsa = getOnlyWay('a');
        fieldsetsb = getOnlyWay('b');
        truba.onclick = () => { submitValueClear(); addValueForSubmit2(truba); showAFieldsets(fieldsetsa); enableAndDisable(fason); enabledAllButtons(); };
        fason.onclick = () => { submitValueClear(); addValueForSubmit2(fason); showAFieldsets(fieldsetsb); enableAndDisable(truba); enabledAllButtons(); };

        function enableAndDisableN(e) {
            let id = e.target.id;
            let value = e.target.value;
            let all = document.querySelectorAll('#'+id);
            all.forEach(item => {if (item.value !== value) enableAndDisable(item)});  
        }

        function addValueForSubmit(item){
            let submit = document.getElementById("submit");
            let value = submit.value;
            if (~value.indexOf(item.target.value)) submit.value = value.replace(';' + item.target.value, '');
            else{
                value === "" ? value = item.target.value : value = `${value};${item.target.value}`;
                submit.value = value;
            }
            
            enableAndDisableN(item);
        }

        function addValueForSubmit2(button) {
            let submit = document.getElementById("submit");
            let value = submit.value;
            value === "" ? value = button.value : value = `${value};${button.value}`;
            submit.value = value;
        }

        function addValueForSubmitInput(text){
            console.log(text);
        }

        let inputs = document.getElementsByTagName("input");

        for (let i = 0; i < inputs.length; i++) {
            inputs.item(i).onchange = addValueForSubmit;
        }

        for (let i = 3; i < buttons.length; i++) {
            buttons.item(i).onclick = addValueForSubmit;
        }
    </script>
</form>