@{
    ViewData["Title"] = "Советник...";
}
<h1>Советник, который пришёл за твоей жопой...</h1>

<p>Никак иначе, Влад.</p>


<form method="post" action="Adviser/GetData">
    <fieldset>
        <h1>Инженерная сантехника</h1>
        <button id="1a" name="truba" value="Трубопроводы" class="btn btn-info">Трубопроводы</button>
        <button id="1b" name="fason" value="Фасонные части" class="btn btn-info">Фасонные части</button>
    </fieldset>

    <fieldset id="truba">
        <h1>Трубопроводы</h1>
        <button id="2a" name="otop" value="Для отопления" class="btn btn-info">Для отопления</button>
        <button id="2a" name="vodosnob" value="Для водоснобжения" class="btn btn-info">Для водоснобжения</button>
        <button id="2a" name="kanal" value="Для канализации" class="btn btn-info">Для канализации</button>
        <button id="2a" name="vodostok" value="Для водостока" class="btn btn-info">Для водостока</button>
    </fieldset>

    <fieldset id="fason">
        <h1>Фасонные части</h1>
        <button id="2b" name="mufta" value="Муфты" class="btn btn-info">Муфты</button>
        <button id="2b" name="troinik" value="Тройники" class="btn btn-info">Тройники</button>
        <button id="2b" name="perehodnik" value="Переходники" class="btn btn-info">Переходники</button>
        <button id="2b" name="otvod" value="Отводы" class="btn btn-info">Отводы</button>
    </fieldset>

    <fieldset id="temperature">
        <h1>По температурному режиму</h1>
        <button id="3a" name="temp1" value="От 5 до 30" class="btn btn-info">От 5 до 30</button>
        <button id="3a" name="temp2" value="От 30 до 65" class="btn btn-info">От 30 до 65</button>
        <button id="3a" name="temp3" value="От 65 до 80" class="btn btn-info">От 65 до 80</button>
        <button id="3a" name="temp4" value="От 80 до 120" class="btn btn-info">От 80 до 120</button>
    </fieldset>

    <fieldset id="material_fason">
        <h1>По материалу</h1>
        <button id="3b" name="plastik" value="Пластик" class="btn btn-info">Пластик</button>
        <button id="3b" name="med" value="Медь" class="btn btn-info">Медь</button>
        <button id="3b" name="stal" value="Сталь" class="btn btn-info">Сталь</button>
        <button id="3b" name="chugun" value="Чугун" class="btn btn-info">Чугун</button>
        <button id="3b" name="pvh" value="ПВХ" class="btn btn-info">ПВХ</button>
        <button id="3b" name="polietilen" value="Полиэтилен" class="btn btn-info">Полиэтилен</button>
    </fieldset>

    <fieldset id="material_truba">
        <h1>По материалу</h1>
        <button id="4a" name="beton" value="Бетон" class="btn btn-info">Бетон</button>
        <button id="4a" name="med" value="Медь" class="btn btn-info">Медь</button>
        <button id="4a" name="stal" value="Сталь" class="btn btn-info">Сталь</button>
        <button id="4a" name="chugun" value="Чугун" class="btn btn-info">Чугун</button>
        <button id="4a" name="pvh" value="ПВХ" class="btn btn-info">ПВХ</button>
        <button id="4a" name="polietilen" value="Полиэтилен" class="btn btn-info">Полиэтилен</button>
    </fieldset>

    <fieldset id="soed">
        <h1>По способу соединения</h1>
        <button id="4b" name="razem" value="Разъёмный" class="btn btn-info">Разъёмный</button>
        <button id="4b" name="nerazem" value="Неразъёмный" class="btn btn-info">Неразъёмный</button>
    </fieldset>

    <fieldset id="diametr">
        <h1>По диаметру</h1>
        <button name="razem" value="Разъёмный" class="btn btn-info">Разъёмный</button>
    </fieldset>

    <fieldset id="dlina">
        <h1>По длину</h1>
        <button name="razem" value="Разъёмный" class="btn btn-info">Разъёмный</button>
    </fieldset>

    <fieldset id="proizvod">
        <h1>По производителю</h1>
        <button name="razem" value="Разъёмный" class="btn btn-info">Разъёмный</button>
    </fieldset>

    <fieldset id="price">
        <h1>По цене</h1>
        <button name="razem" value="Разъёмный" class="btn btn-info">Разъёмный</button>  
    </fieldset>
    <button id="submit" name="submit" class="btn btn-info">Найти</button>

    <script>
        let fieldsets = document.getElementsByTagName("fieldset");
        for(let i = 1; i < fieldsets.length; i++)
            fieldsets[i].style.display = "none";

        function showAndHide(Item) {
            let display = Item.style.display
            display === "" ? Item.style.display = "none" : Item.style.display = "";
        }

        function enableAndDisable(Item) {
            let display = Item.disabled
            display === true ? Item.disabled = false : Item.disabled = true;
        }

        let buttons = document.getElementsByTagName("button");
        let truba = buttons.item(1);
        let fason = buttons.item(2);
        truba.type = "button";
        fason.type = "button";

        const makeUniq = (arr) => [...new Set(arr)];

        function getOnlyWay(way){
            let fieldsetsWay = new Array();
            for (let i = 0; i < buttons.length; i++) {
                let btn = buttons.item(i);
                if(btn.name !== "submit")
                    btn.type = "button";
                let id = btn.id
                if (id === "" || id[1] !== way) continue

                let nextNumId = Number(id[0]) + 1;
                let nextId = String(nextNumId) + id[1];


                if (nextNumId < 5) {
                    let nextFieldset = document.getElementById(nextId).parentElement;
                    fieldsetsWay.push(nextFieldset);
                }
            }

            return makeUniq(fieldsetsWay);
        }

        function showAFieldsets(Fieldsets) {
            for (let i = 0; i < Fieldsets.length; i++)
                showAndHide(Fieldsets[i]);
        }

        function submitValueClear(){
            document.getElementById("submit").value = "";
        }

        fieldsetsa = getOnlyWay('a');
        fieldsetsb = getOnlyWay('b');
        truba.onclick = () => { submitValueClear(); addValueForSubmit2(truba); showAFieldsets(fieldsetsa); enableAndDisable(fason); };
        fason.onclick = () => { submitValueClear(); addValueForSubmit2(fason); showAFieldsets(fieldsetsb); enableAndDisable(truba); };

        function addValueForSubmit(button){
            let submit = document.getElementById("submit");
            let value = submit.value;
            value === "" ? value = button.target.value : value = `${value};${button.target.value}`;
            submit.value = value;
        }

        function addValueForSubmit2(button) {
            let submit = document.getElementById("submit");
            let value = submit.value;
            value === "" ? value = button.value : value = `${value};${button.value}`;
            submit.value = value;
        }

        for (let i = 3; i < buttons.length; i++) {
            buttons.item(i).onclick = addValueForSubmit;
        }

        

    </script>
</form>