.product {
    color: cadetblue;
    border: 2px solid aquamarine;
    width: 20.5vw;
    height: 30vh;
    background-color: transparent;
    padding: 1rem;
    margin: 1rem;
    font-size: 20px;
    transition: background linear .2s;
    word-wrap:break-word;
    overflow:hidden;
}


.product-place {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 100%;
    height: 100%;
    row-gap: 10px;
    column-gap: 10px;
    align-content:space-evenly;
}

.product:hover {
    background-color:azure;
}

