html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    height: 100%;
    width: 100%;
}

body {
  height: fit-content;
  width: 100%;
 /* display: flex;
  flex-direction: column;*/
  align-items: center;
}

.footer {
    color: gray;
    position: relative;
    margin: 0;
    padding: 1rem;
    text-align: center;
    width:100%;
    height: fit-content;
    bottom: 0;
}
.container {
    width:100%;
}