@{
    ViewData["Title"] = "Советник...";
}
<h1>Советник, который пришёл за твоей жопой...</h1>

<p>Никак иначе, Влад.</p>



<div id="Test">
    @await Html.PartialAsync("../Adviser/I")
    @await Html.PartialAsync("../Adviser/II")
</div>