@model Product
@{
    ViewData["Title"] = "Home Page";
}

@Model.entity.Name
@foreach(Plumbing_shop.Models.Attribute m in Model.attributes)
{
    //@m.Name;
}
@foreach (Plumbing_shop.Models.Value m in Model.values)
{
    @m.value;
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
