@using Plumbing_shop
@model string

@{
    ViewData["Title"] = "Home Page";
    ViewBag.lenBtn = ViewBag.len / 3;
    if (ViewBag.len / 3 < ViewBag.len)
    {
        ViewBag.lenBtn++;
    }
}



<div style="display:flex; flex-direction:row">
    @for (int i = 0; i < ViewBag.lenBtn; i++)
    {
        <button class="btn" id="@i" name="nextBtn" onclick="returnArrayAsync(5)">@i</button>
        <script>
            window.showBlocks = (dotNetHelper) => {
                return dotNetHelper.invokeMethod
            }
        </script>
    }
</div>